body{
    background-color:#4895EF;
    color:black;
    margin:20px;
}
nav{
    border: 2px solid black;
    padding:10px;
    margin:10px;
}
.skip { 
    display: none;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
@media only screen and (min-width: 768px) {
    .skip{
        visibility:visible;;
    }
}
@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }
.current {
    font-family:Arial;
    font-size:30px;
    font-weight:bold;
    margin:10px;
}

.button {
    background: #75c8ff;
    background-image: -webkit-linear-gradient(top, #75c8ff, #308dc7);
    background-image: -moz-linear-gradient(top, #75c8ff, #308dc7);
    background-image: -ms-linear-gradient(top, #75c8ff, #308dc7);
    background-image: -o-linear-gradient(top, #75c8ff, #308dc7);
    background-image: linear-gradient(to bottom, #75c8ff, #308dc7);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}
@media (prefers-reduced-motion: reduce) {.button {
    background: #75c8ff;
    background-image: -webkit-linear-gradient(top, #75c8ff, #308dc7);
    background-image: -moz-linear-gradient(top, #75c8ff, #308dc7);
    background-image: -ms-linear-gradient(top, #75c8ff, #308dc7);
    background-image: -o-linear-gradient(top, #75c8ff, #308dc7);
    background-image: linear-gradient(to bottom, #75c8ff, #308dc7);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
} }
.button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
li{    display:inline-block;
    margin-top: 20px;
    height: 25px;
    margin-left: 50px
}
nav a{border: 2px solid black;
border-radius:2px;
}
a{text-decoration: underline;
border: solid black}
#skip{text-transform:uppercase}
p{
    text-align:center;
    margin:10px;
}
h1{
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    color:black 
}
h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    color:black 
}
div{
    line-height:140%;
    margin:10px;
}
img{
    border:5px solid black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom:10px;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    border-top-right-radius:30px;
}
li{
    display: inline-block;
    margin-left: 50px;
}
 
img[data-reduced-motion] {
    display: none; 
  }
@media (prefers-reduced-motion: reduce) {
    img[data-reduced-motion] {
      display: block;
    }
  }